{% extends 'webui/base.html' %}

{% block header %}

<div id="fastFormBlock">
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <form id="fastForm" method="post" action="{{ url_for('fastadd_api.fastaddapi') }}">
                    <div class="mb-3">
                        <input type="url" name="fastFormURL" class="form-control" id="fastFormURL" placeholder="Masukkan URL..." required>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" name="fastFormIsCustomSlug" class="form-check-input" value="" id="fastFormIsCustomSlug">
                            <label class="form-check-label" for="fastFormIsCustomSlug">
                                Gunakan <i>slug</i> custom
                            </label>
                        </div>
                    </div>

                    <div id="fastFormCustomSlugBox" class="input-group mb-3" style="display: none;">
                        <span class="input-group-text" id="fastFormCustomSlugPrefix">{{ APP_URL }}/</span>
                        <input type="text" name="fastFormCustomSlug" class="form-control" placeholder="slug-custom" aria-label="Slug" aria-describedby="fastFormCustomSlugPrefix" value="">
                    </div>

                    <button type="submit" id="fastFormSubmit" class="btn btn-light">
                        <div id="fastFormSubmitLoading" style="display: none;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </div>

                        Pendekkan!
                    </button>

                    <div class="alert alert-warning mt-3" role="alert">
                        <strong>Perhatian!</strong>
                        <p>
                            Untuk saat ini, Kedawan hanya menyimpan URL pendek <b>selama 2 hari</b>.
                            Setelah itu, URL akan secara otomatis <b>terhapus</b> dari <i>database</i>.
                            <br>
                            Harap tunggu <i>update</i> dari <i>developer</i> :)
                        </p>
                    </div>

                    <div id="fastFormResultAlertSuccess" class="alert alert-light mt-3" role="alert" style="display: none;">
                        <strong>Sukses!</strong> Link: <b><div id="fastFormShortenLink"></div></b>
                    </div>

                    <div id="fastFormResultAlertFail" class="alert alert-danger mt-3" role="alert" style="display: none;">
                        <strong>Error:</strong> <b><div id="fastFormFailMessage"></div></b>
                    </div>

                    <script>
                        var fastFormIsCustomSlug = $("#fastFormIsCustomSlug")
                        var fastFormCustomSlugBox = $("#fastFormCustomSlugBox")

                        fastFormIsCustomSlug.change(function() {
                            if($(this).is(":checked")) {
                                fastFormCustomSlugBox.show()
                            } else {
                                fastFormCustomSlugBox.hide()
                            }
                        })
                    </script>

                    <script>
                        // UNUSED!
                        // function genSlug(length) {
                        //     let result = '';
                        //     const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
                        //     const charactersLength = characters.length;
                        //     let counter = 0;
                        //     while (counter < length) {
                        //       result += characters.charAt(Math.floor(Math.random() * charactersLength));
                        //       counter += 1;
                        //     }
                        //     return result;
                        // }

                        var fastForm = $("#fastForm")
                        var fastFormActionURL = fastForm.prop("action")

                        var fastFormSubmit = $("#fastFormSubmit")
                        var fastFormSubmitLoading = fastFormSubmit.find("#fastFormSubmitLoading")

                        // Set button to loading state
                        function disableSubmitBtn() {
                            fastFormSubmit.prop("disabled", true)
                            fastFormSubmitLoading.show()
                        }

                        // Set button to active state
                        function enableSubmitBtn() {
                            fastFormSubmit.prop("disabled", false)
                            fastFormSubmitLoading.hide()
                        }

                        fastForm.submit(function(e) {
                            // Don't submit the form
                            e.preventDefault()

                            $("#fastFormResultAlertSuccess").hide()
                            $("#fastFormResultAlertFail").hide()
                            disableSubmitBtn()

                            let fastFormData = fastForm.serializeArray()
                            console.log(fastFormData)
                            let fastFormURL = fastFormData.find(obj => {return obj.name == "fastFormURL"})["value"]
                            let fastFormSlug = fastFormData.find(obj => {return obj.name == "fastFormCustomSlug"})["value"]

                            let data = {}
                            data.url = fastFormURL
                            if(fastFormSlug) {
                                data.slug = fastFormSlug
                            }

                            console.log(JSON.stringify({
                                    slug: fastFormSlug,
                                    url: fastFormURL
                                }))
                            $.ajax({
                                type: "POST",
                                url: fastFormActionURL,
                                data: JSON.stringify(data),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function(data){
                                    console.log(data)
                                    $("#fastFormShortenLink").html(
                                        `<a href='{{ APP_URL }}/${data['slug']}'>{{ APP_URL }}/${data['slug']}</a>`
                                    )
                                    $("#fastFormResultAlertSuccess").show()
                                    fastFormSubmitLoading.hide()
                                },
                                error: function(err){
                                    console.log(err.responseJSON)
                                    $("#fastFormFailMessage").html(
                                        err.responseJSON["error"]
                                    )
                                    $("#fastFormResultAlertFail").show()
                                    enableSubmitBtn()
                                }
                            })


                        })
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h1 class="text-center">Tentang</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

                <p class="lead">
                    Kedawan adalah sebuah layanan <i>URL shortener</i>
                    sederhana dan ringan.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}